*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.prefs
app/.classpath
app/.gitignore
app/.project
app/build.gradle
app/proguard-rules.pro
gradle
settings.gradle
note.txt
gradlew.bat
gradlew
gradle.properties
build.gradle
.project
